keystone/content/service/identity-RAX-KEY.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011 Rackspace Hosting, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent identity-RAX.wadl               -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common/common.ent">
    %common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
             xmlns:RAX-KEY="http://docs.rackspace.com/identity/api/ext/RAX-KEY/v1.0"
             xmlns:capi="http://docs.openstack.org/common/api/v2.0"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 xsd/api.xsd
                                 http://docs.openstack.org/common/api/v1.0 xsd/api-common.xsd
                                 http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
                                 ">

    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
        <include href="xsd/RAX-KEY-credentials.xsd"/>
    </grammars>


    <!--*******************************************************-->
    <!--             All Resoruces                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:5000">
        <resource id="version" type="#VersionDetails" path="v2.0/">
            <resource id="tokens" path="tokens">
                <method href="#authenticate"/>
            </resource>
            <resource id="extensions" type="#ExtensionList" path="extensions">
                <resource id="extension" path="RAX-KEY">
                    <method href="#getExtension"/>
                </resource>
            </resource>
        </resource>
    </resources>


    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Token Operations -->
    <method name="POST" id="authenticate">
        <request>
            <representation mediaType="application/xml" element="RAX-KEY:apikeyCredentialsWithUsername"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:authenticateResponse"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:userDisabled"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults; 
        &getFaults;
    </method>

    <method name="GET" id="getExtension">
        <doc xml:lang="EN" title="Get Extension Details">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Get details about the RAX-KEY extension.
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="capi:extension"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults; 
        &getFaults;
    </method>
</application>
