keystone/content/admin/identity-admin-OS-KSADM.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent identity-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "../common/common.ent">
%common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
	xmlns:OS-KSADM="http://docs.openstack.org/identity/api/ext/OS-KSADM/v1.0"
	xmlns:capi="http://docs.openstack.org/common/api/v2.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 xsd/api.xsd
		http://docs.openstack.org/common/api/v1.0 xsd/api-common.xsd
		http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
		http://docs.openstack.org/identity/api/ext/OS-KSADM/v1.0 xsd/OS-KSADM-endpointtemplates.xsd
		">

    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resoruces                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:5001">
        <resource id="version" path="v2.0">
        	<method href="#getVersionInfo"/>

            <resource id="extensions" path="extensions">
		        <method href="#listExtensions"/>

                <resource id="extension" path="OS-KSADM">
                    <method href="#getExtension"/>
                </resource>
            </resource>

            <resource id="tokens" path="tokens">
                <method href="#authenticate"/>

                <resource id="tokenById" path="{tokenId}">
                    <param name="tokenById" style="template" type="xsd:string"/>
                    <method href="#validateToken"/>
                    <method href="#revokeToken"/>
                </resource>
            </resource>

            <resource id="tenants" path="tenants">
				<method href="#listTenants"/>
				<method href="#addTenant"/>
				
                <resource id="tenantById" path="{tenantId}">
                    <param name="tenantId" style="template" type="xsd:string"/>
                    <method href="#getTenant"/>

                    <resource id="endpointsForTenant" path="endpoints">
                        <method href="#listEndpointsForTenant"/>
                        <method href="#addEndpointForTenant"/>

                        <resource id="endpointForTenantById" path="{endpointId}">
                            <param name="endpointId" style="template" type="xsd:int"/>
                            <method href="#getEndpointForTenant"/>
                            <method href="#deleteEndpointForTenant"/>
                        </resource>
                    </resource>

                    <resource id="rolesForTenant" path="roles">
                        <method href="#listRolesForTenant"/>

                        <resource id="roleForTenantById" path="{roleId}">
                            <param name="roleId" style="template" type="xsd:string"/>
                            <method href="#getRoleForTenant"/>

                            <resource id="usersWithRoleForTenant" path="users">
                                <method href="#addUsersWithRoleForTenant"/>

                                <resource id="userWithRoleForTenant" path="{username}">
                                    <param name="username" style="template" type="xsd:string"/>
                                    <method href="#addUserWithRoleForTenant"/>
                                </resource>
                            </resource>
                        </resource>
                    </resource>

                    <resource id="usersForTenant" path="users">
                        <param name="role" style="query" type="xsd:string" required="false"/>
                        <method href="#listUsersWithRoleForTenant"/>

                        <resource id="userForTenant" path="{username}">
                            <param name="username" style="template" type="xsd:string"/>

                            <resource id="userRolesForTenant" path="roles">
                                <resource id="role" path="{roleId}">
                                    <method href="#addRolesToUserOnTenant"/>
                                    <method href="#deleteRoleFromUserOnTenant"/>
                                </resource>
                            </resource>

                            <resource id="userRoleForTenant" path="role">
                                <method href="#addRoleToUserOnTenant"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>

            <resource id="users" path="users">
                <param name="username" style="query" type="xsd:string" required="false"/>
                <method href="#addUser"/>

                <resource id="username" path="{username}">
                    <param name="username" style="template" type="xsd:string"/>
                    <method href="#getUser"/>
                    <method href="#updateUser"/>

                    <resource id="userRoles" path="roles">
                        <method href="#listUserRoles"/>

                        <resource id="userRoleById" path="{roleId}">
                            <param name="roleId" style="template" type="xsd:int"/>
                            <method href="#addUserRole"/>
                            <method href="#getUserRole"/>
                            <method href="#deleteUserRole"/>
                        </resource>
                    </resource>

                    <resource id="userCredentials" path="credentials">

                        <resource id="userCredentialsByType" path="{credentialType}">
                            <param name="credentialType" style="template" type="xsd:string"/>
                            <method href="#addCredentialByType"/>
                            <method href="#getCredentialByType"/>

                            <resource id="userCredentialById" path="{credentialId}">
                                <param name="credentialId" style="template" type="xsd:string"/>
                                <method href="#getUserCredential"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>

            <resource id="endpointTemplates" path="endpointTemplates">
                <method href="#listEndpointTemplates"/>
                <method href="#addEndpointTemplate"/>

                <resource id="endpointTemplateId" path="{endpointTemplateId}">
                    <param name="endpointTemplateId" style="template" type="xsd:int"/>
                    <method href="#getEndpointTemplate"/>
                    <method href="#deleteEndpointTemplate"/>
                </resource>
            </resource>

            <resource id="roles" path="roles">
                <method href="#listRoles"/>

                <resource id="roleId" path="{roleId}">
                    <param name="roleId" style="template" type="xsd:int"/>
                    <method href="#getRole"/>
                </resource>
            </resource>

            <resource id="services" path="services">
                <method href="#listServices"/>
                <method href="#addService"/>

                <resource id="serviceId" path="{serviceId}">
                    <param name="serviceId" style="template" type="xsd:int"/>
                    <method href="#getService"/>
                    <method href="#deleteService"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Version -->

    <method name="GET" id="getVersionInfo">
        <doc xml:lang="EN" title="Version Details">
            <p xmlns="http://www.w3.org/1999/xhtml">
            	Returns detailed information about this specific version of the API.
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="capi:version">
                <param name="location" style="plain" type="xsd:anyURI" required="true" path="/capi:version/atom:link[@rel='self']/@href">
                    <link resource_type="#VersionDetails" rel="self"/>
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>

    <!-- Extensions -->

    <method name="GET" id="listExtensions">
        <doc xml:lang="EN" title="List Extensions">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists supported extensions.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="capi:extensions">
                <param name="next" style="plain" type="xsd:anyURI" path="/capi:extensions/atom:link[@rel='next']/@href">
                    <link resource_type="#ExtensionList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI" path="/capi:extensions/atom:link[@rel='previous']/@href">
                    <link resource_type="#ExtensionList" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
    </method>
    <method name="GET" id="getExtension">
        <doc xml:lang="EN" title="Get Server Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets details about a specific extension.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="capi:extension"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>

    <!-- Token Operations -->

    <method name="POST" id="authenticate">
        <doc xml:lang="EN" title="Authenticate">
            <p xmlns="http://www.w3.org/1999/xhtml">Authenticates you with the service.</p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="identity:passwordCredentials">
                <param name="passwordCredentials" style="plain" required="true"
                    type="identity:PasswordCredentialsWithoutUsername"
                    path="/identity:passwordCredentials"/>
            </representation>
            <representation mediaType="application/json"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:authenticateResponse"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
    </method>
    <method name="GET" id="validateToken">
        <doc xml:lang="EN" title="Validate Token">
            <p xmlns="http://www.w3.org/1999/xhtml">Validates a service or admin token.</p>
        </doc>
        <request>
            <param name="belongsTo" style="query" required="false" type="xsd:string"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:auth"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="DELETE" id="revokeToken">
        <doc xml:lang="EN" title="Revoke Token">
            <p xmlns="http://www.w3.org/1999/xhtml">Invalidates an issued token.</p>
        </doc>
        <response status="204"/>
        &commonFaults;
        &getFaults;
    </method>

    <!-- Tenant Operations -->

    <method name="GET" id="listTenants">
        <doc xml:lang="EN" title="Validate Token">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists all tenants.</p>
        </doc>
        <request>
            <param name="marker" style="query" required="false" type="xsd:string"/>
            <param name="limit" style="query" required="false" type="xsd:int"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:tenants"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getTenant">
        <doc xml:lang="EN" title="Tenant Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets details about a specific tenant.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="PUT" id="addTenant">
        <doc xml:lang="EN" title="Create Tenant">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a tenant.</p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
    </method>
    <method name="PUT" id="updateTenant">
        <request>
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="DELETE" id="deleteTenant">
        <response status="204"/>
        &commonFaults;
        &getFaults;
    </method>
    <!--User Operations-->

    <method name="GET" id="getUsers">
        <request>
            <param name="marker" style="query" required="false" type="xsd:string"/>
            <param name="limit" style="query" required="false" type="xsd:int"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:users"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="PUT" id="createUser">
        <request>
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getUser">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:user"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="HEAD" id="checkUser">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:user"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="PUT" id="updateUser">
        <request>
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="DELETE" id="deleteUser">
        <response status="204"/>
        &commonFaults;
        &getFaults;
    </method>
    <method name="PUT" id="setUserEnabled">
        <request>
            <representation mediaType="application/xml" element="identity:user">
                <param name="user" style="plain" path="/" type="identity:UserWithOnlyEnabled"/>
            </representation>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="PUT" id="setUserPassword">
        <request>
            <representation mediaType="application/xml" element="identity:user">
                <param name="user" style="plain" path="/" type="identity:UserWithOnlyPassword"/>
            </representation>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="PUT" id="setUserTenant">
        <request>
            <representation mediaType="application/xml" element="identity:user">
                <param name="user" style="plain" path="/" type="identity:UserWithOnlyTenant"/>
            </representation>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getEndpointTemplates">
        <request>
            <param name="serviceName" style="query" required="false" type="xsd:string"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="OS-KSADM:endpointTemplates"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getEndpointTemplate">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:endpointTemplate"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="POST" id="addEndpointTemplate">
        <request>
            <representation mediaType="application/xml" element="identity:role"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:role">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
            <representation mediaType="application/json">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="DELETE" id="deleteEndpointTemplate">
        <response status="204"/>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getEndpoints">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:endpoints"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="POST" id="addEndpoint">
        <request>
            <representation mediaType="application/xml" element="identity:endpoint"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:endpoint">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
            <representation mediaType="application/json">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getEndpoint">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:endpoint"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="DELETE" id="deleteEndpoint">
        <response status="204"/>
        &commonFaults;
        &getFaults;
    </method>
    <!--Roles-->

    <method name="GET" id="getRoles">
        <request>
            <param name="serviceId" style="query" required="false" type="xsd:string"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:roles"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getRole">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:role"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="POST" id="addRole">
        <request>
            <representation mediaType="application/xml" element="identity:role"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:role">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
            <representation mediaType="application/json">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="DELETE" id="deleteRole">
        <response status="204"/>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getRoleRefs">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:roleRefs"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="POST" id="addRoleRef">
        <request>
            <representation mediaType="application/xml" element="identity:roleRef"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:roleRef">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
            <representation mediaType="application/json">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getRoleRef">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:roleRef"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="DELETE" id="deleteRoleRef">
        <response status="204"/>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getServices">
        <request>
            <param name="serviceId" style="query" required="false" type="xsd:string"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:services"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getService">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:service"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="POST" id="addService">
        <request>
            <representation mediaType="application/xml" element="identity:service"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:service">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
            <representation mediaType="application/json">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="DELETE" id="deleteService">
        <response status="204"/>
        &commonFaults;
        &getFaults;
    </method>
</application>
