keystone/content/admin/identity-admin-RAX-KSADM.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011 Rackspace Hosting, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent identity-admin-RAX.wadl         -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common/common.ent">
    %common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:capi="http://docs.openstack.org/common/api/v2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0 xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
    ">

    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
        <include href="xsd/RAX-KSADM-groups.xsd"/>
        <include href="xsd/RAX-KSADM-users.xsd"/>        
        <include href="xsd/RAX-KSADM-credentials.xsd"/>        
    </grammars>

    <!--*******************************************************-->
    <!--             All Resoruces                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:5000">
        <resource id="version" type="#VersionDetails" path="v2.0/">
            <resource id="extensions" path="extensions">
                <method href="#listExtensions"/>
                
                <resource id="extension" path="RAX-KSADM">
                    <method href="#getExtension"/>
                </resource>
            </resource>
            
            <resource id="services" path="services">
                <param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
                <method href="#listServices"/>
                <method href="#addService"/>
                <resource id="serviceId" path="{serviceId}">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
                    <param name="serviceId" style="template" type="xsd:int"/>
                    <method href="#getService"/>
                    <method href="#deleteService"/>
                </resource>
            </resource>
            
            <resource id="endpointTemplates" path="endpointTemplates">
                <param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
                <method href="#listEndpointTemplates"/>
                <method href="#addEndpointTemplate"/>
                <resource id="endpointTemplateId" path="{endpointTemplateId}">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
                    <param name="endpointTemplateId" style="template" type="xsd:int"/>
                    <method href="#getEndpointTemplate"/>
                    <method href="#deleteEndpointTemplate"/>
                </resource>
            </resource>

            <resource id="roles" path="roles">
                <param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
                <method href="#listRoles"/>
                <resource id="roleId" path="{roleId}">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
                    <param name="roleId" style="template" type="xsd:int"/>
                    <method href="#getRole"/>
                </resource>
            </resource>

            <resource id="users" path="users">
                <param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
                <resource id="userId" path="{userId}">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
                    <param name="userId" style="template" type="xsd:string"/>
                    <method href="#getUser"/>
                    <resource id="userRoles" path="roles">
                        <method href="#listRoles"/>
                        <resource id="role" path="{roleId}">
                            <param name="roleId" style="template" type="xsd:int"/>
                            <method href="#getRole"/>
                        </resource> 
                    </resource> 
                </resource>
            </resource>

            <resource id="tenants" path="tenants">
        		<param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
                <resource id="tenantId" path="{tenantId}">
                    <param name="tenantId" style="template" type="xsd:string"/>
                    <method href="#getTenant"/>
                    <resource id="endpoints" path="endpoints">
		                <method href="#getEndpoints"/>
		                <method href="#addEndpoint"/>
	        	        <resource id="endpoint" path="{endpointId}">
    	        	        <param name="endpointId" style="template" type="xsd:int"/>
        	        	    <method href="#getEndpoint"/>
            	        	<method href="#deleteEndpoint"/>
	            	    </resource>
	            	</resource>    
	            </resource>    
            </resource>

            <resource id="tokens" path="tokens">
                <method href="#authenticate"/>
                <resource id="tokenId" path="{tokenId}">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                        <doc>
                            You need an admin token to execute this operation. The token must be valid...
                        </doc>
                    </param>
                    <param name="tokenId" style="template" type="xsd:string"/>
                    <method href="#validateToken"/>
                </resource>
            </resource>

        </resource>
    </resources>


    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

    <resource_type id="VersionDetails">
        <method href="#getVersionInfo"/>
    </resource_type>

    <resource_type id="ExtensionList">
        <doc xml:lang="EN" title="Extension List">
            <p xmlns="http://www.w3.org/1999/xhtml">
                A list of supported extensions.
            </p>
        </doc>
        <method href="#listExtensions"/>
    </resource_type>



    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Version -->
    <method name="GET" id="versionDetails">
        <doc xml:lang="EN" title="Version Details">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Returns detailed information about this specific
                version of the API.
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="capi:version">
                <param name="location" style="plain" type="xsd:anyURI" required="true" path="/capi:version/atom:link[@rel='self']/@href">
                    <link resource_type="#VersionDetails" rel="self"/>
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response>
        <!-- Common Faults -->
        
        <response xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
           
    </method>
		
    <!-- Extensions -->
    <method name="GET" id="listExtensions">
        <doc xml:lang="EN" title="List Extensions">
            <p xmlns="http://www.w3.org/1999/xhtml">
                List all available extensions.
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="capi:extensions">
                <param name="next" style="plain" type="xsd:anyURI" path="/capi:extensions/atom:link[@rel='next']/@href">
                    <link resource_type="#ExtensionList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI" path="/capi:extensions/atom:link[@rel='previous']/@href">
                    <link resource_type="#ExtensionList" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response>
        <!-- Common Faults -->
        
        <response xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
           
    </method>

    <method name="GET" id="getExtension">
        <doc xml:lang="EN" title="Get Server Details">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Get details about a specific extension.
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="capi:extension"/>
            <representation mediaType="application/json"/>
        </response>
        <!-- Common and GET Faults-->
        
        <response xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml" element="identity:identityFault"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="405">
            <representation mediaType="application/xml" element="identity:badMethod"/>
            <representation mediaType="application/json"/>
        </response>
        <response xmlns="http://wadl.dev.java.net/2009/02" status="413">
            <representation mediaType="application/xml" element="identity:overLimit"/>
            <representation mediaType="application/json"/>
        </response>
           
        
        <response xmlns="http://wadl.dev.java.net/2009/02" status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
           
    </method>


    <!-- Token Operations -->
    <method name="POST" id="authenticate">
        <request>
            <representation mediaType="application/xml" element="identity:passwordCredentials"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:authenticateResponse"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:userDisabled"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 400 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="GET" id="validateToken">
        <request>
            <param name="belongsTo" style="query" required="false" type="xsd:string"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:auth"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/xml" element="identity:userDisabled"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="HEAD" id="checkToken">
        <request>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:auth"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
            <representation mediaType="application/xml" element="identity:userDisabled"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="DELETE" id="revokeToken">
        <response status="204"/>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <!-- Tenant Operations -->
    <method name="GET" id="getTenants">
        <request>
            <param name="marker" style="query" required="false" type="xsd:string"/>
            <param name="limit" style="query" required="false" type="xsd:int"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:tenants"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="PUT" id="createTenant">
        <request>
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="409">
            <representation mediaType="application/xml" element="identity:tenantConflict"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 400 409 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="GET" id="getTenant">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="HEAD" id="checkTenant">
        <response status="200 203">
        </response>
        <response status="401">
        </response>
        <response status="403">
        </response>
        <response status="400">
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="PUT" id="updateTenant">
        <request>
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 404 400 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="DELETE" id="deleteTenant">
        <response status="204"/>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>
    
    <!--User Operations-->
    <method name="GET" id="getUsers">
        <request>
            <param name="marker" style="query" required="false" type="xsd:string"/>
            <param name="limit" style="query" required="false" type="xsd:int"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:users"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="PUT" id="createUser">
        <request>
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="409">
            <representation mediaType="application/xml" element="identity:tenantConflict"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 400 409 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="GET" id="getUser">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:user"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="HEAD" id="checkUser">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:user"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="PUT" id="updateUser">
        <request>
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 404 400 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="DELETE" id="deleteUser">
        <response status="204"/>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>
    
    <method name="PUT" id="setUserEnabled">
        <request>
            <representation mediaType="application/xml" element="identity:user">
                <param name="user" style="plain" path="/" type="identity:UserWithOnlyEnabled"/>
            </representation>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 404 400 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="PUT" id="setUserPassword">
        <request>
            <representation mediaType="application/xml" element="identity:user">
                <param name="user" style="plain" path="/" type="identity:UserWithOnlyPassword"/>
            </representation>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 404 400 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>
    
    <method name="PUT" id="setUserTenant">
        <request>
            <representation mediaType="application/xml" element="identity:user">
                <param name="user" style="plain" path="/" type="identity:UserWithOnlyTenant"/>
            </representation>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 404 400 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>    

    <method name="GET" id="getEndpointTemplates">
        <request>
            <param name="serviceName" style="query" required="false" type="xsd:string"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:endpointTemplates"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="GET" id="getEndpointTemplate">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:endpointTemplate"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>
    
    <method name="POST" id="addEndpointTemplate">
	<request>
            <representation mediaType="application/xml" element="identity:role"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:role">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
            <representation mediaType="application/json">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
     </method>
    
    <method name="DELETE" id="deleteEndpointTemplate">
        <response status="204"/>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="GET" id="getEndpoints">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:endpoints"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="POST" id="addEndpoint">
        <request>
            <representation mediaType="application/xml" element="identity:endpoint"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:endpoint">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
            <representation mediaType="application/json">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="GET" id="getEndpoint">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:endpoint"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="DELETE" id="deleteEndpoint">
        <response status="204"/>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>
    
	<!--Roles-->
	<method name="GET" id="getRoles">
        <request>
            <param name="serviceId" style="query" required="false" type="xsd:string"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:roles"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="GET" id="getRole">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:role"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>
    
    <method name="POST" id="addRole">
	<request>
            <representation mediaType="application/xml" element="identity:role"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:role">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
            <representation mediaType="application/json">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
     </method>
    
    <method name="DELETE" id="deleteRole">
        <response status="204"/>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="GET" id="getRoleRefs">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:roleRefs"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="POST" id="addRoleRef">
        <request>
            <representation mediaType="application/xml" element="identity:roleRef"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:roleRef">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
            <representation mediaType="application/json">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="GET" id="getRoleRef">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:roleRef"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="DELETE" id="deleteRoleRef">
        <response status="204"/>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>
    
	<method name="GET" id="getServices">
        <request>
            <param name="serviceId" style="query" required="false" type="xsd:string"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:services"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="GET" id="getService">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:service"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>
    
    <method name="POST" id="addService">
	<request>
            <representation mediaType="application/xml" element="identity:service"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:service">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
            <representation mediaType="application/json">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
     </method>
    
    <method name="DELETE" id="deleteService">
        <response status="204"/>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>    
</application>
