keystone/content/admin/identity-admin-OS.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent identity-admin-OS.wadl          -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common/common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:capi="http://docs.openstack.org/common/api/v2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0 xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
    ">
    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
    </grammars>

    <!--*******************************************************-->
    <!--             All Resoruces                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:5000">
        <resource id="version" type="#VersionDetails" path="v2.0/">
            <resource id="extensions" type="#ExtensionList" path="extensions">
                <resource id="extension" path="{alias}">
                    <param name="alias" style="template" type="xsd:string"/>
                    <method href="#getExtension"/>
                </resource>
            </resource>
            <resource id="tokens" path="tokens">
                    <method href="#revokeToken"/>
            </resource>
            <resource id="tenants" path="tenants">
        		<param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
                <method href="#listTenants"/>
                <method href="#createTenant"/>
                <resource id="tenantId" path="{tenantId}">
                    <param name="tenantId" style="template" type="xsd:string"/>
                    <method href="#updateTenant"/>
                    <method href="#deleteTenant"/>
	            </resource>    
            </resource>

            <resource id="users" path="users">
        		<param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
                <method href="#listUsers"/>
                <method href="#createUser"/>
                <resource id="userId" path="{userId}">
        		    <param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
                    <param name="userId" style="template" type="xsd:string"/>
                    <method href="#updateUser"/>
                    <method href="#deleteUser"/>
        		    <resource id="enabled" path="enabled">
    			    <method href="#setUserEnabled"/>
    		     </resource>
    		     <resource id="password" path="password">
    		         <method href="#setUserPassword"/>
    		     </resource>
    		     <resource id="tenant" path="tenant">
    			     <method href="#setUserTenant"/>
    		     </resource>
    		     <resource id="userRoles" path="roles">
                    <method href="#listRoles"/>
                    <method href="#addRole"/>
                    <resource id="role" path="{roleId}">
                       <param name="roleId" style="template" type="xsd:int"/>
                       <method href="#getRole"/>
                       <method href="#deleteRole"/>
                    </resource>
        		  </resource>
               </resource>
            </resource>
        </resource>

	    <resource id="roles" path="roles">
	        <param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
            <method href="#listRoles"/>
            <method href="#addRole"/>
            <resource id="roleId" path="{roleId}">
    		    <param name="X-Auth-Token" style="header" type="xsd:string" required="true"/>
                <param name="roleId" style="template" type="xsd:int"/>
                <method href="#getRole"/>
                <method href="#deleteRole"/>
            </resource>
        </resource>
    </resources>


    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->


    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Token Operations -->
    <method name="DELETE" id="revokeToken">
        <response status="204"/>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <!-- Tenant Operations -->
    <method name="GET" id="listTenants">
        <request>
            <param name="marker" style="query" required="false" type="xsd:string"/>
            <param name="limit" style="query" required="false" type="xsd:int"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:tenants"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="POST" id="createTenant">
        <request>
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="409">
            <representation mediaType="application/xml" element="identity:tenantConflict"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 400 409 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="HEAD" id="checkTenant">
        <response status="200 203">
        </response>
        <response status="401">
        </response>
        <response status="403">
        </response>
        <response status="400">
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="POST" id="updateTenant">
        <request>
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 404 400 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="DELETE" id="deleteTenant">
        <response status="204"/>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>
    
    <!--User Operations-->
    <method name="GET" id="listUsers">
        <request>
            <param name="marker" style="query" required="false" type="xsd:string"/>
            <param name="limit" style="query" required="false" type="xsd:int"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:users"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="POST" id="createUser">
        <request>
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="409">
            <representation mediaType="application/xml" element="identity:tenantConflict"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 400 409 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="HEAD" id="checkUser">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:user"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="POST" id="updateUser">
        <request>
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 404 400 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="DELETE" id="deleteUser">
        <response status="204"/>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>
    
    <method name="PUT" id="setUserEnabled">
        <request>
            <representation mediaType="application/xml" element="identity:user">
                <param name="user" style="plain" path="/" type="identity:UserWithOnlyEnabled"/>
            </representation>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 404 400 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="PUT" id="setUserPassword">
        <request>
            <representation mediaType="application/xml" element="identity:user">
                <param name="user" style="plain" path="/" type="identity:UserWithOnlyPassword"/>
            </representation>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 404 400 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>
    
    <method name="PUT" id="setUserTenant">
        <request>
            <representation mediaType="application/xml" element="identity:user">
                <param name="user" style="plain" path="/" type="identity:UserWithOnlyTenant"/>
            </representation>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="401 403 404 400 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>    
    
	<!--Roles-->
	<method name="GET" id="listRoles">
        <request>
            <param name="serviceId" style="query" required="false" type="xsd:string"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:roles"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="GET" id="getRole">
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:role"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>
    
    <method name="PUT" id="addRole">
	<request>
            <representation mediaType="application/xml" element="identity:role"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:role">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
            <representation mediaType="application/json">
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:identityFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
     </method>
    
    <method name="DELETE" id="deleteRole">
        <response status="204"/>
        <response status="400">
            <representation mediaType="application/xml" element="identity:badRequest"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="identity:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:forbidden"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="identity:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="identity:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="identity:serviceUnavailable"/>
        </response>
        <response status="400 401 403 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>  
</application>
