keystone/content/admin/RAX-KSKEY-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent identity-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common/common.ent">
    %common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
	xmlns:capi="http://docs.openstack.org/common/api/v2.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:RAX-KSKEY ="http://docs.rackspace.com/identity/api/ext/RAX-KSKEY/v1.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 xsd/api.xsd
		http://docs.openstack.org/common/api/v1.0 xsd/api-common.xsd
		http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
		http://docs.rackspace.com/identity/api/ext/RAX-KSKEY/v1.0 ../service/xsd/RAX-KSKEY-credentials.xsd
		">

    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resoruces                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:5001">
        <resource id="users" path="users">
            <resource id="userid" path="{user_id}">
                <param name="user_id" style="template" type="xsd:string" required="true"/>
                <resource id="userCredentials" path="credentials">
                    <resource id="RAX-KSKEY-admin-extension" path="RAX-KSKEY-admin">
                        <resource id="apikeyCredentials" path="apikeyCredentials">
                            <method href="#addAPIkeyCredentials"/>
                            <method href="#getAllAPIkeyCredentials"/>
			    <resource id="credentialTypeAndId" path="{credential_type_and_id}">
				<param name="credential_type_and_id" style="template" type="xsd:string" required="true"/>
			    </resource>
                            <resource id="apikeyCredentialsId" path="{apikeyCredentialsId}">
                                <param name="apikeyCredentialsId" style="template" type="xsd:string" required="true"/>
                                <method href="#getAPIkeyCredentialsById"/>    
                            </resource>
                       </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    
    

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <method name="POST" id="addAPIkeyCredentials">
        <doc xml:lang="EN" title="/tokens">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Adds a valid apikeyCredentials.
            </p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="RAX-KSKEY:apikeyCredentials"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="RAX-KSKEY:apikeyCredentials"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="identity:userDisabled"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &postPutFaults;
    </method>


    <method name="GET" id="getAPIkeyCredentialsByRegion">
        <doc xml:lang="EN" title="/tokens/{token_id}">
            <p xmlns="http://www.w3.org/1999/xhtml">
            	Retrieves a token.
            </p>
            <p xmlns="http://www.w3.org/1999/xhtml">
        		Returns token expiration, user info, and the user's roles for the given token.
			</p>
        </doc>
        <request>
            <param name="belongsTo" style="query" required="false" type="xsd:string">
                <doc xml:lang="EN" title="/tokens/{token_id}?belongsTo={tenant_id}">
                    <p xmlns="http://www.w3.org/1999/xhtml">
                        Validates a token has the supplied tenant in scope.
                    </p>
                </doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:auth"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="HEAD" id="checkToken">
        <doc xml:lang="EN" title="/tokens/{token_id}">
            <p xmlns="http://www.w3.org/1999/xhtml">
            	Validates a token exists (for performance).
            </p>
        </doc>
        <request>
            <param name="belongsTo" style="query" required="false" type="xsd:string">
                <doc xml:lang="EN" title="/tokens/{token_id}?belongsTo={tenant_id}">
                    <p xmlns="http://www.w3.org/1999/xhtml">
                        Validates a token has the supplied tenant in scope. (for performance).
                    </p>
                    <p xmlns="http://www.w3.org/1999/xhtml">
                        If `belongsTo` is provided, validates that a token has a specific tenant in scope.
                    </p>
                </doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:auth"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>

    <!--User Operations-->
    <method name="GET" id="getUserByName">
        <doc xml:lang="EN" title="/users/?username={user_name}">
            <p xmlns="http://www.w3.org/1999/xhtml">
            	Returns detailed information about a specific user, by user name.
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:user"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getUserById">
        <doc xml:lang="EN" title="/users/{user_id}">
            <p xmlns="http://www.w3.org/1999/xhtml">
            	Returns detailed information about a specific user, by user id.
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:user"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="listUserGlobalRoles">
        <doc xml:lang="EN" title="/users/{user_id}/roles">
            <p xmlns="http://www.w3.org/1999/xhtml">
            	Returns global roles for a specific user (excludes tenant roles).
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:roles"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>

    <!-- Tenant Operations -->

    <method name="GET" id="listTenants">
        <doc xml:lang="EN" title="/tenants">
            <p xmlns="http://www.w3.org/1999/xhtml">
            	Returns a list of all tenants.
            </p>
        </doc>
        <request>
            <param name="marker" style="query" required="false" type="xsd:string"/>
            <param name="limit" style="query" required="false" type="xsd:int"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:tenants"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getTenantByName">
        <doc xml:lang="EN" title="/tenants/?name={tenant_name}">
            <p xmlns="http://www.w3.org/1999/xhtml">
            	Returns detailed information about a tenant, by name.
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="getTenantById">
        <doc xml:lang="EN" title="/tenants/{tenant_id}">
            <p xmlns="http://www.w3.org/1999/xhtml">
            	Returns detailed information about a tenant, by id.
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:tenant"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    <method name="GET" id="listEndpointsForToken">
        <doc xml:lang="EN" title="/tokens/{token_id}/endpoints">
            <p xmlns="http://www.w3.org/1999/xhtml">
            	Returns a list of endpoints associated with a specific token.
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:endpoints"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="listRolesForUserOnTenant">
        <doc xml:lang="EN" title="/tenants/{tenant_id}/users/{user_id}/roles">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Returns roles for a specific user on a specific tenant (excludes global roles).
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:roles"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
</application>
